html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  /* background:red; */
}

#googleMap,
#pano {
  max-height: 75%;
  max-width: 75%;
  margin: 0 auto;
  resize: both;
  overflow: auto;
  /* background:black; */
}

#favButton{
  width:100%;
  height:50px;
  background:rgb(13, 96, 168);
  border-radius:5px;
  margin: 0 auto;
  color:white;
}

#mapCon {
  min-height: 500px;
  /* border:2px solid black; */
}

#map:hover{
  transform: scale(1.25);
}

.iframe-placeholder
    {
      
       background: url('https://cdn.dribbble.com/users/141488/screenshots/749772/globespin.gif') no-repeat center;
    }