html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  /* background:red; */
}

#googleMap,
#pano {
  height: 100%;
  width: 100%;
  /* background:black; */
}

#favButton{
  width:20%;
  height:50px;
  background:grey;
  margin:10px;
  color:white;
}

#mapCon {
  min-height: 500px;
  /* border:2px solid black; */
}

#map:hover{
  transform: scale(1.25);
}

.iframe-placeholder
    {
      
       background: url('https://i.gifer.com/8RDk.gif') no-repeat center;
    }