{% extends 'base.html' %}

{% block head %} {% endblock %}

{% block body %} 

  {% for message in get_flashed_messages() %}
    {{ message }}
  {% endfor %}

  {% if username %}
    <h1>Hello {{ username }}</h1>

  {% else %}
    <h1>What's your username and email?</h1>
  </br>
  <form method="POST">
    {{form.hidden_tag() }}

    {{ form.username.label(class="form-label") }}
    {{ form.username( class="form-control") }}
    
    {{ form.password.label(class="form-label") }}
    {{ form.password( class="form-control") }}
    <br/>    
    {{ form.submit( class="primary-button btn") }}
  </form>
  {% endif %}


{% endblock %}
