{% extends 'base.html' %}

{% block head %} {% endblock %}

{% block body %}
<!-- <p>{{(userdata | tojson | safe)}}</p> -->
<div  class="container justify-content-md-center">
        <div id="googleMap" style="width: 100%;height:400px;"></div>
        <div id="pano" style="width:100%;height:400px;"></div><br>
        <div  id="favButton" class="btn"><h4 class="m-5">Save This Location</h4></div>
        <script src="{{ url_for('static', filename='scripts/gmap.js')}}"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDuor625kNugbhknAmc4RtKUd5Z-PBulFk&callback=myMap"></script>
    </div>
    <h1>Hi {{username | capitalize }} here are your Favorite Places!</h1>
    <div id="mapCon" class="row "></div>
</div>

<script>
    
    let panorama
    let userdata_list = JSON.parse('{{ userdata | tojson  }}').splice(1)
    console.log(userdata_list)
    const delPano = (obj) => {
        console.log(obj)
        fetch("https://127.0.0.1:5000/rmfav", {
            method: "POST",
            headers: {'Content-Type': 'application/json'}, 
            body: JSON.stringify(atob(obj))
          }).then(res => {
            console.log(`${obj} is now removed!`);
            location.reload()
          });
      }
    
    userdata_list.forEach((item,index) => {
        console.log(index)
        let lat = userdata_list[index].latLng.lat
        let lng = userdata_list[index].latLng.lng
        let toRm = JSON.stringify(index)
        let googleEmbededURL = `https://www.google.com/maps/embed/v1/view?key=AIzaSyDuor625kNugbhknAmc4RtKUd5Z-PBulFk&center=${lat},${lng}&zoom=15&maptype=satellite`
        let toInsert = `
                    <div class="col-sm-12 col-md-4">
                        <div class="card-body">
                            <h5 class="card-title">${userdata_list[index].shortDescription}</h5>
                           
                            <iframe class="iframe-placeholder" id="map" style="height:300px" src=${googleEmbededURL} ></iframe>
                        <a href="#" class="btn btn-primary">Select</a>
                        <a href="#"class="btn btn-danger" onclick="delPano('${btoa(toRm)}')">Delete</a>
                        <a href="#" class="btn btn-success">Set default ⭐</a>
                        <p id="demo"></p>
                        </div>
                    </div>
                    `
                 
        document.getElementById("mapCon").innerHTML += toInsert
        document.getElementById("map").click(()=>{
            alert("Hey that tickles")
        })
        

    });




</script>

{% endblock %}